<div class="container text-center">
    <h1>About Me</h1>
    <p>I am a product dude, who is focused on making all the best products for 
    everyone who breathes.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quis, officiis, ut recusandae enim impedit porro voluptate laudantium perferendis ipsum aliquam doloribus consequatur et ad eligendi mollitia hic iusto quasi.
    </p>
</div>